body {
	margin: 0;

	font-family: Arial, Helvetica, sans-serif;
	color: white;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.App {
	background-color: #6366f1;
	animation: bodyHue 360s alternate infinite;
	text-align: center;
}

@keyframes bodyHue {
	from {
		filter: hue-rotate(0deg);
	}
	to {
		filter: hue-rotate(360deg);
	}
}

.Load-spinner {
	height: 10vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.Load-spinner {
		animation: Load-spinner-spin infinite 1s linear;
	}
}

.App-main {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	/* justify-content: center; */
}

@keyframes Load-spinner-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
