body {
	margin: 0;
	min-height: 100%;
	position: relative;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	/* align-items: center;
	justify-content: center; */
}

html {
	align-items: center;
	justify-content: center;
}

/* .App {
	align-items: center;
	justify-content: center;
} */

.backGround {
	background: #6366f1;
	position: absolute;
	animation: bodyHue 30s alternate infinite;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
}

@keyframes bodyHue {
	from {
		filter: hue-rotate(0deg);
	}
	to {
		filter: hue-rotate(-70deg);
	}
}

.Load-spinner {
	height: 18vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.Load-spinner {
		animation: Load-spinner-spin infinite 1s linear;
	}
}

.App-main {
	min-height: 100vh;
	/* display: flex; */
	/* flex-direction: column; */
	/* align-items: center;
	justify-content: center; */
}

@keyframes Load-spinner-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.bubbles {
	left: var(--x1);
	bottom: var(--y1);
	border-radius: 5rem;
}
.icons {
	left: var(--x1);
	bottom: var(--y1);
	/* border-radius: 5rem; */
	/*border:white solid; */
}

/* .icon {
		background-color: black;
} */

/* Chrome, Safari and Opera */
body ::-webkit-scrollbar {
	display: none;
}

body {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.btn-primary {
		@apply shadow-lg 
      h-10
      bg-opacity-40 bg-black 
      hover:bg-black hover:bg-opacity-60 
      px-4 py-2 
      rounded-full 
      font-medium text-sm text-white;
	}

	.btn-primary-selected {
		@apply shadow-lg 
      h-10
      bg-opacity-60 bg-black 
    
      px-4 py-2 
      rounded-full 
      font-medium text-sm text-white
	  outline-4 outline-slate-400/40  outline outline-offset-0;
	}
	.btn-primary-disabled {
		@apply shadow-lg 
      h-10
      bg-opacity-40 bg-black 
		cursor-default
      px-4 py-2 
      rounded-full 
      font-medium text-sm text-gray-100/25;
	}
}
